<div class="col-md-12 col-sm-12 col-12">
    <div class="card card">
        <div class="card-header">
            <h3 class="card-title">Product</h3>
            <a href="{{ path('product_index') }}" class="btn btn-default btn-sm mr-1 float-right">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.name) }}
                    <div class="form-group">
                        {{ form_label(form.serialNumber) }}
                        <div class="input-group">
                            {{ form_widget(form.serialNumber, {attr: {'class' : 'form-control'}}) }}
                            <span class="input-group-append">
                                <button type="button" class="btn btn-outline-success btn-flat" id="serialNumber"><i class="fas fa-recycle"></i></button>
                            </span>
                        </div>
                        <small>{{ form_help(form.serialNumber) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.serialNumber) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.macAddress) }}
                        <div class="input-group">
                            {{ form_widget(form.macAddress, {attr: {'class' : 'form-control macnumber'}}) }}
                           {#  <span class="input-group-append">
                                <button type="button" class="btn btn-outline-success btn-flat" id="macAddress"><i class="fas fa-recycle "></i></button>
                            </span> #}
                        </div>
                        <small>{{ form_help(form.macAddress) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.macAddress) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.ipAddress) }}
                        <div class="input-group">
                            {{ form_widget(form.ipAddress, {attr: {'class' : 'form-control ipnumber'}}) }}
                            {# <span class="input-group-append">
                                <button type="button" class="btn btn-outline-success btn-flat" id="ipAddress"><i class="fas fa-recycle "></i></button>
                            </span> #}
                        </div>
                        <small>{{ form_help(form.ipAddress) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.ipAddress) }}
                        </div>
                    </div>
                    {{ form_row(form.quantity) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.os) }}
                    {{ form_row(form.status) }}
                    <div class="form-group">
                        {{ form_label(form.modelType, "Product Type") }}
                        <button class="btn btn-sm btn-info"  type="button" data-toggle="modal" data-target="#addNewProductTypeModel">
                            Add new Product Type
                        </button>
                        <div class="input-group">
                            {{ form_widget(form.modelType, {attr: {'class' : 'form-control'}}) }}
                        </div>
                        <small>{{ form_help(form.modelType) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.modelType) }}
                        </div>
                    </div>
                     <div class="form-group">
                        {{ form_label(form.productModel, "Product Model") }}
                        <button class="btn btn-sm btn-info"  type="button" data-toggle="modal" data-target="#addNewProductModelModel">
                            Add new Product Model
                        </button>
                        <div class="input-group">
                            {{ form_widget(form.productModel, {attr: {'class' : 'form-control'}}) }}
                        </div>
                        <small>{{ form_help(form.productModel) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.productModel) }}
                        </div>
                    </div>
                    {{ form_row(form.price) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.assignToUser) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.comments) }}
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <button type="submit" class="btn color-na-green-background float-right text-white">{{ button_label }}</button>
        </div>
        {{ form_end(form) }}    
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addNewProductTypeModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Product Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="product_type_name">Product Type Name </label>
                        <input type="text" class="form-control" id="product_type_name"  name="product_type_name" aria-describedby="product_type_name" placeholder="" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitNewProductTypeModel" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addNewProductModelModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Product Model</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="product_model_name">Product Model Name </label>
                        <input type="text" class="form-control" id="product_model_name"  name="product_model_name" aria-describedby="product_model_name" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitNewProductModelModel" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>