{% extends 'parent.html.twig' %}
{% block stylesheets %}
    <style type="text/css">
        /*.dataTables_length, .dataTables_filter {
           display: inline-flex; 
        }
        .dataTables_filter {
            margin-left: 10%;
        }*/
    </style>
{% endblock %}
{% block title %}Product index{% endblock %}
{% block content %}
<div class="content-header px-5">
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Products</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href=" {{ path('dashboard') }} ">Home</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mt-5">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box py-4">
                    <span class="info-box-icon circle color-na-green-border">
                        <i class="fas fa-industry color-na-green"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-number color-na-green"> № {{ products.numResults }}</span>
                        <span class="info-box-text text-muted">Total Product</span>
                    </div>
                    <!-- /.info-box-content -->
                    <span class="info-box-icon">
                        <a href=""><i class="fa fa-ellipsis-h text-secondary"></i></a>
                    </span>
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box py-4">
                    <span class="info-box-icon circle color-na-blue-border">
                        <i class="fas fa-dollar-sign color-na-blue"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-number text color-na-blue"> $ {{ productPrices }} </span>
                        <span class="info-box-text">Total Revenue</span>
                    </div>
                    <!-- /.info-box-content -->
                    <span class="info-box-icon">
                        <a href="">
                            <i class="fa fa-ellipsis-h text-secondary"></i>
                        </a>
                    </span>
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box py-4">
                    <span class="info-box-icon circle color-na-red-border">
                        <i class="fas fa-digital-tachograph color-na-green color-na-red"></i>
                        <!-- <i class="fas fa-digital-tachograph"></i>   -->
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-number text color-na-red"> № {{ unusedProducts }} </span>
                        <span class="info-box-text">Unusing products</span>
                    </div>
                    <!-- /.info-box-content -->
                    <span class="info-box-icon">
                        <a href=""><i class="fa fa-ellipsis-h text-secondary"></i></a>
                        <!-- <i class="far fa-envelope border color-na-green icon-green-border"></i> -->
                    </span>
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</div>
<section class="content px-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-0">
                        <div class="row">
                            <div class="col-12 col-sm-9 py-1">
                                <div class="btn-group my-1 mr-2">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pagination Show entries: {{ products.pageSize }}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ path('product_index_paginated', { page: products.currentPage , limit: "10000" }) }}">10000</a>
                                        <a class="dropdown-item" href="{{ path('product_index_paginated', { page: products.currentPage , limit: "25000" }) }}">25000</a>
                                        <a class="dropdown-item" href="{{ path('product_index_paginated', { page: products.currentPage , limit: "50000" }) }}">50000</a>
                                        <a class="dropdown-item" href="{{ path('product_index_paginated', { page: products.currentPage , limit: "100000" }) }}">100000</a>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-12 col-sm-3 py-1">
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path('product_new') }}" class="btn color-na-green-background my-1 pull-right"><i class="fa fa-plus text-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered" id="product">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>DeviceType</th>
                                    <th>ProductModel</th>
                                    <th>IpAddress</th>
                                    <th>Price</th>
                                    <th>History</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products.results %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.modelType }}</td>
                                    <td>{{ product.productModel }}</td>
                                    <td>{{ product.ipAddress }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm color-na-darkblack-background text-white" data-toggle="modal" data-target="#assignToUser" value="{{ product.id }}" onclick="setIdProduct(this.value)">
                                            <i class="fas fa-cog"> </i>
                                            History Action
                                        </button>
                                    </td>
                                    <td>
                                        {{ include('product/_delete_form.html.twig') }}
                                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning btn-sm mr-1">
                                            <i class="text-white fa fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    {% include 'shared/pagination.html.twig' with {'pagination' : products, 'pagination_path' : 'product_index_paginated' } only %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Assign to User Modal -->
<div class="modal fade" id="assignToUser" tabindex="-1" role="dialog" aria-labelledby="assignToUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignToUserModalLabel">Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" action="{{ path('product_assignToUser') }}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="required" for="product_status">Action:</label>
                        <select id="product_status" name="product_status" class="form-control" onchange="toggleUser(this)" >
                            <option value="instorage">In Storage</option>
                            <option value="assigntouser">Assig To User</option>
                            <option value="broken">Broken</option>
                            <option value="sold">Sold</option>
                            <option value="inrepair">In Repair</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group" id="userform" style="display: none;">
                        <label>Assign To User: <i class="fa fa-user"></i></label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" name="userId" data-select2-id="1" tabindex="-1" aria-hidden="true">
                            {% for user in users %}
                            <option value="{{ user.id }}">
                                {{ user.fullName }}
                                {% if user.userRoom %}
                                -> {{ user.userRoom }}
                                {% if user.userRoom.department %}
                                -> {{ user.userRoom.department}}
                                {% endif %}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="required" for="product_status">Note:</label>
                        <textarea class="form-control" name="custommessage"></textarea>
                    </div>
                    <input type="hidden" name="productId" value="" id="productId">
                    <input type="hidden" name="_token" value="{{ csrf_token('assigntoUser') }}" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assign it</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
<script type="text/javascript">
// Function
function setIdProduct(id) {
    document.getElementById("productId").value = id;
    // console.log(document.getElementById("productId").value);
}

function toggleUser(select) {
    var getElement = document.getElementById("userform");
    
    if (select.value == "assigntouser") {
        if (getElement.style.display == "none") {
            getElement.style.display = "block";
        }
    } else {
        getElement.style.display = "none";
    }
}

//Initialize Select2 Elements
$('.select2').select2();

$('#product').DataTable({
     "dom": "<'row'<'col-md-6'l><'col-md-6'Bf>>" +
"<'row'<'col-md-6'><'col-md-6'>>" +
"<'row'<'col-md-12't>><'row'<'col-md-12'ip>>",
    // "paging": true,
    // "lengthChange": false,
    // "searching": false,
    // "ordering": true,
    // "info": true,
    // "autoWidth": false,
});


</script>
{% endblock %}